$font-default: "Inter";
$font-heading: "Poppins";

$primary-blue: #3273eb;
$primary-green: #31EB31;

$default-50: #C2C9DB;
$default-100: #B5BED4;
$default-200: #9BA7C4;
$default-300: #8291B5;
$default-400: #687AA6;
$default-500: #556691;
$default-600: #465477;
$default-700: #37425D;
$default-800: #283043;
$default-900: #191D2A;
$default-950: #11141D;

$default-text: #fafaff;
$default-text-light: $default-50;

$text-eyebrow: 10px;
$text-small: 12px;
$text-regular: 14px;
$text-medium: 16px;
$text-large: 20px;
$text-heading: 24px;

$default-border: $default-800;

$rounding-xsmall: 2px;
$rounding-small: 4px;
$rounding-default: 6px;
$rounding-large: 8px;

$easing: ease;

$screen-w-xl: 1920px;

MainMenu {
    font-size: $text-regular;
}

label {
    font-size: $text-regular;
    color: $default-text;
    font-family: $font-default;

    &.medium {
        font-size: $text-medium;
        font-family: $font-heading;
        font-weight: 600;
    }

    &.large {
        font-size: $text-large;
        font-family: $font-heading;
        font-weight: 700;
        text-transform: uppercase;
    }

    &.small {
        font-weight: 600;
        font-size: $text-small;
    }

    &.heading {
        font-family: $font-heading;
        font-size: $text-heading;
        font-weight: 700;
    }

    &.eyebrow {
        font-family: $font-heading;
        font-size: $text-eyebrow;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        color: $default-100;
        font-weight: 700;
    }
}

icon {
    font-family: "Material Icons";
    font-size: $text-regular;
    color: $default-text;

    &.medium {
        font-size: $text-medium;
        font-family: $font-heading;
    }

    &.large {
        font-size: $text-large;
    }

    &.small {
        font-size: $text-small;
    }

    &.heading {
        font-size: $text-heading;
    }

    &.eyebrow {
        font-size: $text-eyebrow;
        color: $default-100;
    }
}

badge {
    padding: 3px 6px;
    pointer-events: all;
    align-items: center;
    border-radius: $rounding-default;
    background-color: $default-800;
    flex-shrink: 0;
    gap: 6px;

    Label {
        font-family: $font-heading;
        font-size: $text-eyebrow;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        color: $default-50;
        font-weight: 700;
    }
}

row {
    align-items: center;
    gap: 6px;
}

column {
    flex-direction: column;
    gap: 6px;
}

div.grow {
    flex-grow: 1;
}

separator {
    background-color: $default-border;

    &.vertical {
        height: 100%;
        min-height: 32px;
        width: 1px;
    }
}

@mixin border {
    outline: 1px solid $default-border;

    &:hover {
        outline-color: rgba( $primary-blue, 0.5 );
    }

    &:focus {
        outline-color: rgba( $primary-blue, 0.5 );
    }
}

@mixin border-transparent {
    outline: 1px solid transparent;

    &:hover {
        outline-color: rgba( $primary-blue, 0.5 );
    }

    &:focus {
        outline-color: rgba( $primary-blue, 0.5 );
    }
}

@mixin glow {
    box-shadow: 0 0 2px #7dabff, 0 0 3px rgba( $primary-blue, 1 ), 0 0 10px rgba( $primary-blue, 0.5 );
}

TextEntry {
    caret-color: $default-300;
}