@using System;
@using Sandbox;
@using Sandbox.UI;
@inherits Panel

@if (Package is not null )
{
    <root class="clicky" onmousedown="@( () => Package.OpenModal() )">
        <row>
            <label class="small">@($"Playing '{Package.Title}'")</label>
        </row>
    </root>
}
else
{
    <root>
        <row>
            <label class="small">@($"Playing '{Title}'")</label>
        </row>
    </root>
}

@code
{
    public string Ident { get; set; }
    public string Title { get; set; }

    Package Package;

    protected override async Task OnParametersSetAsync()
    {
        Package = await Package.FetchAsync( Ident, true );
    }
}
